@import url("https://fonts.googleapis.com/css2?family=Varela+Round&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Varela Round", sans-serif;
}

.app {
  width: 100vw;
  height: 100vh;
}

html {
  background-color: rgba(153, 153, 153, 0.404);

  scroll-behavior: smooth;
  background: url("/src/img/background.png") no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
